<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="DefaultElmahFolderPath" value="C:\GSS\Radar\Project\SINOPAC\SINOPAC_RADAR\NewRadar\GSS.Radar.Web\GSS.Radar.Web\App_Data\Elmah.Errors" />
    </appSettings>
</configuration>