<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!--預設Elmah資料夾路徑-->
        <add key="DefaultElmahFolderPath" value="C:\WebRoot\LogFiles\eServices" />
        <!--預設查詢往後幾天(-1不預設)-->
        <add key="DefaultElmahQueryDays" value="1" />
    </appSettings>
</configuration>